<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>GFT test task</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="./index.css"/>
</head>
<body>

    <!-- application entry node -->
    <div class="js-app container-fluid">
        <h1>ListThingie™</h1>
        <div class="js-newItem row"></div>
        <div class="js-list row"></div>
        <div class="js-counter row"></div>
    </div>


    <!-- templates -->
    <script type="text/template" class="js-tpl-addItem">
        <div class="form-group col-lg-6">
            <label for="new-item">Add new item</label>
            <div class="input-group">
                <input type="text" class="form-control" id="new-item">
                <div class="btn input-group-addon btn-info js-addBtn"><span class="glyphicon glyphicon-plus-sign"></span></div>
            </div>
        </div>
    </script>

    <script type="text/template" class="js-tpl-list">
        <ul class="list-unstyled col-lg-offset-1">
            <% _.each(list, function (todoItem, index) { %>
                <li data-index="<%= index %>" class="row">
                    <p class="col-lg-5">
                        <%= todoItem %>
                    </p>
                    <div class="col-lg-1">
                        <button class="btn btn-danger js-del btn-sm"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                </li>
            <% }) %>
        </ul>
    </script>

    <script type="text/template" class="js-tpl-counter">
        <p class="col-lg-6 text-info">
            <% if (list.length > 1) { %>
                <%= list.length %> items in list.
            <% } else if (list.length === 1) { %>
                1 item in list.
            <% } else { %>
                No items in list. Go ahead and add one!
            <% } %>
        </p>
    </script>


    <script src="./index.js"></script>
</body>
</html>